* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #131212;
    color: #4e4544;
    font-family: 'FC Subject';
}

/* Page Layout */

.container {
    max-width: 900px;
    background-color: #131212;
    margin: 0 auto;
    padding: 0 60px;

    display: grid;
    grid-template-columns: 3fr;
    grid-template-areas:  
        "header"
        "main"
        "footer";
    grid-gap: 50px;
    grid-template-rows: 100px auto auto;
    grid-template-rows: 
        "header"
        "main"
        "footer";
}

/* Header */

header {
    grid-area: header;
    font-family: 'FC Subject';
    font-weight: normal;
    font-style: normal;
    font-display: swap;

    color: #fff;
    padding: 20px 0;

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas:  
        "logo nav button";
}

.logo {
    max-width: 95px;
    max-height: 76px;
    min-width: 65;
    min-height: 46;
    grid-area: logo;
    justify-self: start;
}

header nav {
    grid-area: nav;
    justify-items: center;
    justify-self: start;
    list-style: none;
    display: inline;
}

header nav li {
    margin-right: 15px;
    justify-items: center;
    justify-self: start;
    display: inline-block;
    
}

header button {
    grid-area: button;
    max-width: 500px;
    max-height: 30px;
    justify-self: end;
    justify-items: center;

    background-color: #e0582a;
    border: 25px;
    border-radius: 10px;
    padding: 4px 12px;
    color: #fff;

    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */

.main {
    grid-area: main;
    text-align: center;
}

.main h2 {
    color: #fff;
    font-family: 'FC Subject ExtBd';
    font-size: 32px;
    margin-bottom: 20px;
}

.main p {
    padding: auto;
    color: #fff;
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}

/* Footer */

footer {
    grid-area: footer;

    color: #ef5350;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #eee;
    font-size: 12px;
    padding: 10px;
}


/* Responsive */

@media (max-width: 600px) {
    .container {
        Display: inline-block;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;

        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
    }

    header {
        Display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav";
    }

    .nav-menu {
        display: none;
    }

    .btn {
        display: none;
    }

    .logo {
        grid-area: nav;
        align-self: center;
        display: inline-block;
    }
    
    .main h2 {
        color: #fff;
        font-family: 'FC Subject ExtBd';
        font-size: 22px;
        margin-bottom: 10px;

    }





    }
}
    @media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
        }
}